@import "../node_modules/bootstrap/scss/bootstrap";

.myframe{


  min-width:  90vh;
  min-height:  100vh;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 0px;
  position: absolute;

  display: flex;
  align-items: center;
}
.col{
  margin-top: 0;
  padding-top: 40px;
}
.col-left{
  background-color: #f0f0f0;
  position: relative;
  right: 0;
  text-align: right;
  padding-right: 40px;
}
.col-center{
  position: relative;
  max-width: 780px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}
.col-right{
  background-color: #f0f0f0;
  position: relative;
  left: 0;
  text-align: left;
  padding-left: 40px;
}

.col-min{
  max-width: 260px;
}

.input{
  width: 100px;
}

#from1, #to1{
  height: 42.5px;
}

.form-control{
  max-width: 230px;
}

.free{
  background-color: rgb(30,180,90) !important;
}

.taken{
  background-color: rgb(255,30,30) !important;
}
.cell {
  height: 32px;
  min-width: 35px;
  border: 1px solid gray;
  text-align: center;
  background-color: gray;
  color: white;
}

.street{
  background-color: rgb(200,220,200);
  min-width: 35px;
}
.building{
  background-color: white;
}
