@import "../node_modules/bootstrap/scss/bootstrap";

.myrow{

}
.free{
  background-color: rgb(30,180,90) !important;
}

.taken{
  background-color: rgb(255,30,30) !important;
}
.cell {
  height: 32px;
  width: 35px;
  border: 1px solid gray;
  text-align: center;
  background-color: rgb(30,180,90);
  color: white;
}

.street{
  background-color: rgb(200,220,200);
  min-width: 35px;
}
.building{
  background-color: white;
}
